@page "/warenkorb"
@using BookingVerse.Components.Models
@using BookingVerse.Components.Services
@inject EventService EventService

<h3>Warenkorb</h3>

@if (EventService.GetWarenkorb().Count == 0)
{
    <p>No items in the Warenkorb.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Location</th>
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Event in EventService.GetWarenkorb())
            {
                <tr @onclick="() => RemoveItemFromWarenkorb(Event)">
                    <td>@Event.Title</td>
                    <td>@Event.Date.ToShortDateString()</td>
                    <td>@Event.Location</td>
                    <td>@Event.Category</td>
                    <td>@Event.Price€</td>
                    <td>@Event.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private void RemoveItemFromWarenkorb(Event eventItem)
    {
        EventService.RemoveFromWarenkorb(eventItem);
    }
}
