@page "/warenkorb"
@using BookingVerseFinal.Components.Models
@using BookingVerseFinal.Components.Services
@inject EventService EventService
@inject UserService UserService

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1><i class="bi bi-cart-fill"></i> Warenkorb</h1>
    </div>

    @if (EventService.GetWarenkorb().Count == 0)
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> No items in the Warenkorb.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Event in EventService.GetWarenkorb())
                    {
                        <tr>
                            <td>@Event.Title</td>
                            <td>@Event.Date.ToShortDateString()</td>
                            <td>@Event.Location</td>
                            <td>@Event.Category</td>
                            <td>@Event.Price€</td>
                            <td>@Event.Description</td>
                            <td>
                                <button class="btn btn-danger" @onclick="() => RemoveItemFromWarenkorb(Event)" data-bs-toggle="tooltip" title="Remove from Warenkorb">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="btn btn-success btn-buynow" @onclick="() => BuyItemFromWarenkorb(Event)" data-bs-toggle="tooltip" title="Buy product now">
                                    <i class="bi bi-cart-check"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {


    private void RemoveItemFromWarenkorb(Event eventItem)
    {
        EventService.RemoveFromWarenkorb(eventItem);
    }


    private void BuyItemFromWarenkorb(Event eventItem)
    {
        

    }
}
